body, thead {
    background-color: #f1f3f6;
}

.row {
    background-color: #fff;
    margin: 15px;
    padding: 15px;
}

.hide {
    display: none;
}

.form-inline label, select {
    margin-right: 5px;
}